<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title> Non Validation Email</title>
</head>
<body>
     
    
    <div class="nonvalidationemail col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="text-center"> Votre mail n'a pas été envoyé </p>
    
    <br>
    <br>
    
    <p class="text-center"> Réesayer en cliquant <a href="/#contact"> ici </a></p>
</div>
</body>
</html>