<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Validation Email</title>
</head>
<body>
     
    
    <div class=" validationemail  col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="text-center"> Votre mail a bien été envoyé </p>
    
    <br>
    <br>
    
    <p class="text-center"> Retournez sur <a href="/"> l'accueil</a> ou <a href="/#portfolio"> sur les projets</a></p>
</div>
</body>
</html>